<div class="col-md-10">
  <div class="d-flex justify-content-between align-items-center">
    <input type="search" name="txtBuscar" class="form-control" [(ngModel)]="producto.txtBuscar"
      placeholder="Buscar productos">
    <button class="btn">
      <i class="fas fa-search-plus" (click)="buscar(producto.txtBuscar)"></i>
    </button>
  </div>
  <hr><hr>
<br>
</div>

  <div class="col-md-3" *ngFor="let prod of datos">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a routerLink="/productoIndividual/{{prod[0]}}">{{prod[1]}}</a>
    </div>
    <div>
      <p>
        Precio: {{prod[4]}}
      </p>
      <hr>
      <p>
        Color: {{prod[7]}}
      </p>
    </div>
    <div>
      <img class="card-img-top" src="http://localhost:3000/{{prod[2]}}" width="50" height="150">
    </div>
    <hr><hr>
    <br>
  </div>