<div class="col-md-3" *ngFor="let prod of datos">
    <div class="card-header d-flex justify-content-between align-items-center">
        {{prod[1]}}              
    </div>
    <div>
        <p>
            Descripcion: {{prod[3]}}
        </p>
        <hr>
        <p>
            Precio: {{prod[4]}}
        </p>
        <hr>
        <p>
            Cantidad: {{prod[6]}}
        </p>
        <hr>
        <p>
            Color: {{prod[7]}}
        </p>
    </div>
    <div>
        <img class="card-img-top" src="http://localhost:3000/{{prod[2]}}" width="50" height="150">
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
        <a [routerLink]="" class="btn btn-info btn-block">
            Editar
          </a>
        <button class="btn btn-danger" (click)="eliminar(prod[0])">
            <i class="far fa-trash-alt"></i>
        </button>  
    </div>
    <hr>
</div>

<!--   <div class="col-md-4" >
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        
        <button class="btn btn-danger" >
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="">
      <div class="card-body">
        <p></p>
        <p>Created At </p>
        <a [routerLink]="" class="btn btn-info btn-block">
          EDIT GAME
        </a>
      </div>
    </div>
  </div> -->